include ../../common/pug/openButton
include ../modalWindow/modalWindow

mixin mainContainer
    .main-container&attributes(attributes)
        h1 Значение счетчика на активном слайде
        h2.main-container__count 0
        +openButton.main-container__openButton
        +modalWindow.main-container__modalWindow