@import '~modern-normalize/modern-normalize.css';
@import 'pages';
@import 'components';
@import 'swiper/css/bundle';

.common-button {
  background-color: #3877ee;
  color: white;
  min-height: 63px;
  min-width: 147px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
