extends ../../layouts/base
include ../../components/counter/counter
include ../../components/mainContainer/mainContainer
include ../../components/modalWindow/modalWindow

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        +mainContainer