extends ../../layouts/base
include ../../components/counterOfActiveSlide/counterOfActiveSlide
include ../../components/modalWindow/modalWindow
include ../../components/slider/slider
include ../../components/swiperSlide/swiperSlide
include ../../components/slideCounter/slideCounter

block head
    title Home

block content
    main(data-barba="container" data-barba-namespace="index").index
        +counterOfActiveSlide
        +modalWindow
            +slider
