mixin slideCounter
    .slide-counter&attributes(attributes)
        .slide-counter__container
            button.slide-counter__button-prev.slide-counter-button -
            .slide-counter__counter 0
            button.slide-counter__button-next.slide-counter-button +


        