include ../slideCounter/slideCounter

mixin slider
    .slider&attributes(attributes)
        button.slider__button.swiper-button-prev
            +svg('arrow')
        .swiper
            .swiper-wrapper
                .swiper-slide
                    +img({src: '/images/-oGsMDwOiZs.jpg', alt: 'изображение на первом слайде'})
                    +slideCounter
                .swiper-slide 
                    +img({src: '/images/0a9dXDYfdoE.jpg', alt: 'изображение на втором слайде'})
                    +slideCounter
                .swiper-slide
                    +img({src: '/images/3WJHkrKRqgQ.jpg', alt: 'изображение на третьем слайде'})
                    +slideCounter
                .swiper-slide
                    +img({src: '/images/17-46m72KoE.jpg', alt: 'изображение на четвертом слайде'})
                    +slideCounter
                .swiper-slide
                    +img({src: '/images/PX-v2QJ4UI4.jpg', alt: 'изображение на пятом слайде'})
                    +slideCounter
                .swiper-slide
                    +img({src: '/images/T6SFVwDm2wE.jpg', alt: 'изображение на шестом слайде'})
                    +slideCounter
                .swiper-slide
                    +img({src: '/images/u_lc8_8bRjY.jpg', alt: 'изображение на седьмом слайде'})
                    +slideCounter
        button.slider__button.swiper-button-next
            +svg('arrow')
        