mixin slider
    //- - var url = ['/images/-oGsMDwOiZs.jpg'];  
    //- - var url2 = {url: '/images/0a9dXDYfdoE.jpg'};
    //- - var urls = [{url: '/images/3WJHkrKRqgQ.jpg'}, {url: '/images/0a9dXDYfdoE.jpg'}];
    - var img1Url = '/images/-oGsMDwOiZs.jpg';
    - var img2Url = '/images/0a9dXDYfdoE.jpg' ;
    - var img3Url = '/images/3WJHkrKRqgQ.jpg';
    - var img4Url = '/images/17-46m72KoE.jpg';
    - var img5Url = '/images/PX-v2QJ4UI4.jpg';
    - var img6Url = '/images/T6SFVwDm2wE.jpg';
    - var img7Url = '/images/u_lc8_8bRjY.jpg';
    - var imgUrls = [img1Url, img2Url, img3Url, img4Url, img5Url, img6Url, img7Url];

    .slider&attributes(attributes)
        button.slider__button.swiper-button-prev
            +svg('arrow')
        .swiper
            .swiper-wrapper
                each url in imgUrls
                    .swiper-slide
                        +img({src: url, alt: 'картинка'})
                        +slideCounter
        button.slider__button.swiper-button-next
            +svg('arrow')
        